---
Language: Cpp
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: Align
AlwaysBreakAfterReturnType: None
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
ColumnLimit: 90
IndentWidth: 2
FixNamespaceComments: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
BreakConstructorInitializers: BeforeComma
KeepEmptyLinesAtTheStartOfBlocks: true
NamespaceIndentation: All
PointerAlignment: Left
ReflowComments: false
SortIncludes: false
SortUsingDeclarations: false
SpaceAfterTemplateKeyword: true
TabWidth: 2
UseTab: Never
...
